name: Deploy Angular to VPS (Apache)

on:
  push:
    branches: ['main']

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build project
        # Se usa el nombre de tu proyecto 'despliegue' para la base de las rutas
        run: npx ng build --configuration production --base-href /despliegue/

      - name: Deploy via rsync
        uses: burnett01/rsync-deployments@7.0.1
        with:
          switches: -avzr --delete
          # Esta es la ruta exacta donde Angular genera los archivos de tu proyecto
          path: dist/despliegue/browser/
          # Se despliega en la carpeta final de tu servidor
          remote_path: /var/www/html/despliegue/
          remote_host: ${{ secrets.VPS_HOST }}
          remote_user: root
          remote_key: ${{ secrets.VPS_SSH_KEY }}
